body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(/Images/marbleBackground.jpg);
    background-size: cover;
}


/*  NAVIGATION BAR  */
nav{
    z-index:5;
    position: fixed;
     
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;


    background-color: black;
}
nav ul{
    display: flex;
    list-style: none;

}
nav li{
    padding: 0 1rem;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    transition: 300ms;
}

nav ul li a:hover{
    background-color: rgb(255, 0, 221);
    border-radius: 5px;
    padding: 5px;
}

.socialIcons{
    position: absolute;
    right: 110px;
}
.socialIcon{
    text-decoration: none;
    font-size: 1rem;
    padding: 0 0.5rem;
}
.socialIcon i{
    margin-left: 10px;
    transition: 300ms;
    color: white;
}
.socialIcon:hover i{
    
    padding: 0 5px;
    /**transform: scale(1.03);*/

}
.IG:hover i{
    color: #C13584
}
.GH:hover i{
    color: #310892;
}
.YT:hover i{
    color: rgb(255, 26, 26);
}

/*  NAV HAMBURGER MENU  */







/*  LANDING PAGE  */

.landingPage{
    min-height: 100vh;
    max-height: fit-content;

    display: flex;
    align-items: center;
    justify-content: center;

    
}
h1{
    font-size: 4rem;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}
h2{
    font-size: 2rem;
}
.landingPageText{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    height: 100vh;
    min-width: 500px;
    padding: 10px;
    animation: fadeIn 1s;

}
.landingPageHero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    height:60vh;
    cursor: pointer;
    overflow: hidden;

    animation: fromRight 1s;
}
.sneakerImage{
    background-color:transparent;
    height: 400px;
    object-fit: contain;
    transition: 600ms;
}
.sneakerShadow{
    background-color: black;
    opacity: 50%;
    filter: blur(10px);
    height: 40px;
    width: 300px;
    border-radius: 50%;
    transition: 600ms;
    position: relative;
    bottom: 50px;
}
.landingPageHero:hover > .sneakerShadow{
    transform: translate(-10px) scale(1.2);
}
.landingPageHero:hover > .sneakerImage{
    transform: translate(-10px) rotate(-5deg);
}


/*  PRODUCT SECTION  */
button{
    border-radius: 5px;
    background-color: rgb(0, 0, 48);
    color: white;
    padding: 10px;
    width: 150px;
    border: none;
    font-size: 1.03rem;
    font-weight: 600;
    cursor: pointer;
    transition: 300ms;
}
.btnPrimary{
    font-family: sans-serif;
}
.btnPrimary:hover{
    background: rgb(255, 0, 221);
}

.productSection{
    display: flex;
    gap:3rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 3rem;
    height: 100vh;
}
.productCardSection{
    position: relative;
    height: 400px;
    width: 400px;
    cursor: pointer;
}
.productCard{
    z-index: 2;
    position: relative;
    height: 400px;
    width: 400px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 600ms;
}
.productCard:hover{
    transform: scale(1.03);
}

.productCard img{
    width: 350px;
    object-fit: contain;
    border-radius: 5pxs;
}
.splash{
    opacity: 0;
    z-index: 1;
    position: absolute;
    top: 0;
    height: 500px;
    transition: 600ms;
}
.productCardSection:hover > .splash{
    transform: scale(1.5) translate(-30px);
    opacity: 1;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 1rem;
}


/*  ANIMATIONS */

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100;
    }
}
@keyframes fromRight{
    0%{
        transform: translate(100px);
        opacity: 0;
    }
    100%{
        transform: translate(0);
        opacity: 100;
    }
}




/*  MEDIA QUERIES  */

/*  width 768px*/

@media screen and (max-width:768px){
    nav ul li{
        display: none;
    }
    .socialIcons{
        display: none;
    }
    .landingPageText{
        height: 50%;
        min-width: 100%;
        align-items: center;
    }
    h1{
        font-size: 3rem;
    }
    .landingPageHero{
        min-width: 100%;
        margin-right: 0;
    }
    .landingPage{
        height: 100%;
        flex-direction: column;
    }
    .sneakerImage{
        width: 300px;
    }
    .productSection{
        height: max-content;
        padding: 150px;
    }
    .productCardSection{
        margin: 50px;
    }
    .productCard{
        height: 300px;
        width: 300px;
    }
    .productCard img{
        width: 250px;
    }
    .splash{
        height: 400px;
        width: 400px;
    }
}

/*  width 960px  */


@media screen and (max-width:960px){
    .socialIcons{
        display: none;
    }
    .landingPageText{
        height: 50%;
        min-width: 100%;
        align-items: center;
    }
    .landingPageHero{
        min-width: 100%;
        margin-right: 0;
    }
    .landingPage{
        height: 100%;
        flex-direction: column;
    }
    .productSection{
        height: max-content;
        padding: 150px;
    }
    .productCardSection{
        margin: 50px;
    }
}