*{
    margin: 0%;
    padding: 0%;
}
body{
    color: aliceblue;
    background-color: black;
}
.cardHolder{
    height: 300px;
    width: 300px;
    overflow: hidden;
    position: relative;
}
.ImgCard{  
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s all ease-in-out;
}
.bio{
    opacity: 0;
    position: absolute;
    bottom: 0px;
    padding: 10px;
}
.cardHolder:hover .ImgCard{
    transform: scale(1.5);
    transition: 0.5s all ease-in-out ;
}
.cardHolder:hover ~ .bio{
    opacity: 1;
    transition: 0.5s all ease-in-out;
}
